body {
	margin: 0 auto;
	padding: 0;
  background-color: #ffffff;
  width: 1492px;

  font-family:Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  position: relative;

  text-decoration: none;

  outline: none;
}
/*a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
}
*/
img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  width: 1492px;
  min-height: 265px;
  border-bottom: 1px solid rgb(218, 233, 230);
  margin-bottom: 108px;
}

.page-header::before {
  content: "";
  position: absolute;
  background: rgb(218, 233, 230);
  margin: 0 auto;
  
  top: 99px;
  height: 1px;
  width: 1492px;
  z-index: 1; 
}

.page-header__logo {
  display: inline-block;
  background-color: rgb(238, 59, 51);
  height: 99px;
  width: 100px;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 6px; 
}

.page-header__logo-text1,
.page-header__logo-text2 {
  display: block;
  width: 46px;
  margin: 0 auto; 
  padding: 0;
  font-family: myriad-pro-condensed, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: rgba(255,255,255,1) 0 0 4px;
}

.page-header__logo-text2 { 
  margin-top: 5px;
  font-size: 9px;
  line-height: 9px;
  width: 23px;
}

.site-list {
	list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item a {
  margin: 0; 
  padding: 0;
  font-family:Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #212327;
}

.site-list > li {
	position: relative;
	display: inline-block;
  margin: 0;
  padding: 0; 
}

.site-list > li > a {
  display: block;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 44px;
  padding-bottom: 35px;
}

.site-list > li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 3px;

  background: rgb(238, 59, 51);
}

.site-list .sublist {
	position: absolute;
	display: none;
  list-style: none;
  margin: 0;
  padding: 0; 
}


.site-list > li:hover .sublist,
.site-list .site-list__item--active .sublist {
	display: flex;
  width: 1492px;
  /*left: -100px;*/
}

.sublist__item {
  position: relative;
  max-width: 162px;
  min-height: 143px;
  margin-right: 120px;
  padding-top: 23px;
}

.sublist__item a {
  font-size: 13px;
}

.sublist__item img {
  display: block;
}

.sublist__text {
  display: block;
  width: 90px;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
}

.sublist__item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 3px;

  background: rgb(238, 59, 51);
}

.addnav {
  margin-left: auto;
}

.user-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 69px;
  margin-top: 42px;
}

.user-list__item {
  margin-right: 35px;
}

.user-list__item a {
  font-family:Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #212327;
}

.user-list__item > a > img {
  margin-top: 2px;
}

/*главный мот*/
.page-main {
  width: 1492px;
  margin: 0 auto;
}

.main-dsc {
  display: flex;
  width: 1172px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.main-dsc__image {
  position: relative;
  width: 759px;
  background-image: url("../img/POWER.png");
  background-repeat: no-repeat;
  background-position: 70px 0;
}

.main-dsc__moto {
  margin-top: 56px;
}

.main-dsc__plus {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  z-index: 3;
  top: 100px;
}

.plus1 {
  top: 65px;
  left: 375px;
}

.plus2 {
  top: 245px;
  left: 65px;
}

.plus3 {
  top: 240px;
  left: 635px;
}

.main-dsc__text {
  position: relative;
  width: 460px;
}

.main-dsc__year {
  display: flex;
  align-items: center;
  font-size: 16px; 
}

.main-dsc__h {
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  margin-right: 35px;
  margin-bottom: 10px;
}

.main-dsc__year a {
  color: #81848a;
}

.main-dsc__year .main-dsc__year--active {
  margin-right: 25px;  
  color: rgb(238, 59, 51);
}

.main-dsc__year--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 47px;
  z-index: 1;
  width: 2px;
  height: 18px;
  background: rgb(218, 233, 230);
}

.main-dsc__st-at {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #81848a;
  text-transform: uppercase;  
  margin-bottom: 5px;
}

.main-dsc__price {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #212327;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.color-list__item {
  position: relative;
  margin-right: 20px;
}
.color-list__sircle--active {
  position: absolute;
  left: -3px;
  top: -6.5px;
}

.main-dsc__p {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 28px;
  color: #212327;
  width: 460px;

}

.main-dsc__buttons {
  display: flex;
}

.main-dsc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  min-height: 60px;
  width: 209px;
  background-color: rgb(238,59,51);
  color: rgb(255,255,255);
  border: 3px solid rgb(238,59,51);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 14px;
}

.main-dsc__button--white {
  background-color: rgb(255,255,255);
  color: rgb(238,59,51);
}

/*слайдер-меню характеристик*/
.set-slider {
  position: relative;
  min-width: 1200px;
  min-height: 600px;
  margin-bottom: 25px;
 }

.container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 975px;
  margin: 0 auto;
  padding: 0;
 }

.slider-control {
  display: flex;
  justify-content: space-between;
}

.slider-control::before {
  content: "";
  position: absolute;
  width: 908px;
  height: 1px;
  background-color: rgb(227,227,227);
  top: 71px;
  left: 50px; 
}

.slider-control label {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: rgb(200,200,200); 
  font-size: 12.5px;
  padding-top: 40px;
  cursor: pointer;
}

.slider-control__item::before {
  content: "";
  position: absolute;
  background-color: rgb(200,200,200);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  bottom: -24px;
  left: 37%;
}

.slider-control__item--1 {
  background-image: url("../img/icon-key.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider-control__item--2 {
  background-image: url("../img/icon-power.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider-control__item--3 {
  background-image: url("../img/icon-specs.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider-control__item--4 {
  background-image: url("../img/icon-speed.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.slider-control__item--5 {
  background-image: url("../img/icon-life.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#key-features:checked ~ .slider-control .slider-control__item--1 {
  background-image: url("../img/icon-key--active.svg");
  color: rgb(33,35,39);
}

#power:checked ~ .slider-control .slider-control__item--2 {
  background-image: url("../img/icon-power--active.svg");
  color: rgb(33,35,39);
}

#specs:checked ~ .slider-control .slider-control__item--3 {
  background-image: url("../img/icon-specs--active.svg");
  color: rgb(33,35,39);
}

#speed:checked ~ .slider-control .slider-control__item--4 {
  background-image: url("../img/icon-speed--active.svg");
  color: rgb(33,35,39);
}

#life:checked ~ .slider-control .slider-control__item--5 {
  background-image: url("../img/icon-life--active.svg");
  color: rgb(33,35,39);
}

#key-features:checked ~ .slider-control .slider-control__item--1::after,
#power:checked ~ .slider-control .slider-control__item--2::after,
#specs:checked ~ .slider-control .slider-control__item--3::after,
#speed:checked ~ .slider-control .slider-control__item--4::after,
#life:checked ~ .slider-control .slider-control__item--5::after {
  content: "";
  position: absolute;
  background-color: rgb(238,59,51);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  bottom: -24px;
  left: 37%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.set-item__image {
  margin-top: 95px;
  margin-right: 110px;
}

.set-item__dsc {
  margin-top: 110px;
}

.slider-list__item h3 {
  margin: 0;
  font-size: 16px;
  color: rgb(33,35,39);
  text-transform: uppercase;
  line-height: 55px;
}

.slider-list__item p {
  margin: 0;
  font-size: 15px; 
  line-height: 25px;
  margin-bottom: 40px;
  color: #283136;
}

.slider-list__item {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#key-features:checked~.slider-list .slider-list__item:nth-child(1) {
  display: flex;
}

#power:checked~.slider-list .slider-list__item:nth-child(2) {
  display: flex;
}

#specs:checked~.slider-list .slider-list__item:nth-child(3) {
  display: flex;
}

#speed:checked~.slider-list .slider-list__item:nth-child(4) {
  display: flex;
}

#life:checked~.slider-list .slider-list__item:nth-child(5) {
  display: flex;
}
/*АЛЬБОМ*/
.album {
  display: flex;
  width: 1492px;
  margin-bottom: 40px;
}
.album__pic {
  display: block;
  margin:0;
  padding: 0;
}

.album__column img {
  width: 351px;
  height: 257px;
}

.view360 {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.view360__text {
  display: flex;
  justify-content: space-between;
  width: 105px;
  margin: 0 auto;
}

/*МАГАЗИН*/
.acces {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 860px;
  min-height: 350px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
 }

.acces-control {
  display: flex;
  justify-content: space-between;
}

.acces-control label {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: rgba(33,35,39,0.53); 
}

.acces-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.acces-list__item {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#frame:checked~.acces-list .acces-list__item:nth-child(1) {
  display: flex;
}

#shock:checked~.acces-list .acces-list__item:nth-child(2) {
  display: flex;
}

#scs:checked~.acces-list .acces-list__item:nth-child(3) {
  display: flex;
}

#styling:checked~.acces-list .acces-list__item:nth-child(4) {
  display: flex;
}

.item-list {
  display: flex;
  justify-content: space-between;
  width: 720px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.item__unit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.item__container {
  display: flex;
  min-height: 203px;
  align-items: center;
}
.item__prod {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(33,35,39);
  margin-bottom: 5px;
}

.item__price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(141,144,149); 
}

/*ФУТЕР*/
.footer {
  background-color: rgb(33,35,39);
  min-height: 258px;
}

.footer__top {
  display: flex;
  width: 1142px;
  margin: 0 auto;
  min-height: 210px;
  align-items: center;
}

.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 195px;
}

.footer__menu4 {
  margin-right: 60px;
}

.footer a {
  color: rgb(120,126,137);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 27px;
}

 .footer__bottom {
  background-color: rgb(25,26,39);
  min-height: 48px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1142px;
  margin: 0 auto;
  text-transform: uppercase;
  color: rgb(120,126,137);
  font-size:10px;
  min-height: 48px;

}

.footer__addmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin:0;
  padding: 0;
  width: 480px;
}

.footer__addmenu a {
  font-size:10px;
}
